<div class="blog-post">
  <h2 class="blog-post-title"><%= link_to blog.title, blog %></h2>
  <p class="blog-post-meta">Published <%= distance_of_time_in_words(blog.created_at, Time.now) + " ago | by " + blog.user.name %> </p>

  <%= render partial: "blogs/admin_actions", locals: {blog: blog } %>

  <div>
    <% if blog.main_image.to_s == "" %>
      <%= image_tag image_generator(height: "350", width: "200"), width: "100%" %>
    <% else %>
      <%= image_tag blog.main_image.to_s, width: "100%" %>
    <% end %>
  </div>

  <p><%= markdown blog.body %></p>

  <hr>

</div>