<aside class="col-md-4 blog-sidebar">
  <div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0"><em>We are what we repeatedly do, so then excellence is not an act, but a habit. The more time you put into something, the better results you'll be getting out of it. So here's your overnight success story in a nutshell. Every day is special, we just gotta make it that way.</em></p>
  </div>

  <%= source_helper("alert alert-primary") %>

  <%= render "topics/widget" %>

  <div class="p-3">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/jaywad"><%= fa_icon "github"%></a></li>
      <li><a href="https://twitter.com/jaywad26"><%= fa_icon "twitter"%></a></li>
      <li><a href="https://www.instagram.com/jamalawd/"><%= fa_icon "instagram"%></a></li>
      <li><a href="https://www.linkedin.com/in/jaywad/"><%= fa_icon "linkedin"%></a></li>
    </ol>
  </div>
</aside>
