<div class="collapse bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <h4 class="text-white">Contact</h4>
        <ul class="list-inline social-links">
          <li class="list-inline-item"><a href="https://github.com/jaywad"><%= fa_icon "github"%></a></li>
          <li class="list-inline-item"><a href="https://twitter.com/jaywad26"><%= fa_icon "twitter"%></a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com/jamalawd/"><%= fa_icon "instagram"%></a></li>
          <li class="list-inline-item"><a href="https://www.linkedin.com/in/jaywad/"><%= fa_icon "linkedin"%></a></li>
          <li class="list-inline-item"><p><a href="mailto:jamalawad26@gmail.com?subject=Portfolio Contact" "Email me"><%= fa_icon "at" %></a></li>
          <li><%= login_helper('text-white') %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-dark bg-dark box-shadow">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand d-flex align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
        <%= fa_icon "connectdevelop" %>
        </svg>
      <strong>My Portfolio</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>