<h1>Would you like to work together?</h1>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="sign-up">
        <div class="card">
          <div class="card-body">
            <h2>Send me a message</h2>
            <br>
            <% if notice %>
            <p id="notice" class="alert alert-success"><%= notice %></p>
            <% end %>
            <%= form_for @message, url: message_path do |f| %>
              <div class="form-group">
                <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Name" %>
              </div>

              <div class="form-group">
                <%= f.email_field :email, autocomplete: "off", class: "form-control", placeholder: "Email" %>
              </div>

              <div class="form-group">
                <%= f.text_area :message, class: "form-control", placeholder: "How can I help?", rows: 6 %>
              </div>

              <div class="actions">
                <%= f.submit "Send Message", class: "btn btn-dark btn-block" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>   
    </div>
    <div class="col-md-6" style="padding-top: 100px">
      <h3>Office Address</h3>

      <p>Lebanon, Zahle (Bekaa Governorate)</p>

      <h3>Mobile</h3>

      <p><%= number_to_phone "9613701879" %></p>

      <h3>Email</h3>

      <p><a href="mailto:jamalawad26@gmail.com?subject=Portfolio Contact" "Email me">Email me</a></p>
    </div>
  </div>
</div>